<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>f4d2dcb4d1b3422a99344b1b10fad732</string>
	<key>secret</key>
	<string>b8409019410e4243ac4b136a363e5347</string>
</dict>
</plist>
